* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{ 
    
    background-color: cornflowerblue;
    font-family:Arial, sans-serif ;
    

    
}
.container{

}

/*intestazione*/
header{
    background-color: white;


   
}
.logo{
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    height: 50px;
    vertical-align: middle;
}
.title{
display: inline;
vertical-align: middle;
font-weight: 900;

}